services:
  #Flask
  api:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    working_dir: /app 
    env_file:
      - .env
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - PYTHONUNBUFFERED=1
      - DATABASE_URL=postgresql://user:password@db:5432/legitrack_db
    command: flask run --host=0.0.0.0 --port=5000 --reload
    depends_on:
      - db

  #PostgreSQL
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: legitrack_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  #Worker.py
  worker:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
      - DATABASE_URL=postgresql://user:password@db:5432/legitrack_db
    command: python -m app.worker
    depends_on:
      - db 

volumes:
  postgres-data:
